<!--carouse Stars here -->
<div id="carousel-example-generic " class="carousel slide sli" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>

  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://pusaggh.org/images/gy.png" alt="...">
      <div class="carousel-caption">
       <h1>TOP FIVE LEADING STARTS UP IN GHANA</h1>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, eius, accusantium, sint quas expedita aliquam in iste non harum asperiores ratione minus maiores rem dolor magni vitae aut reprehenderit nesciunt.</p>
        <p><a href="#" class="btn btn-more btn-lg">Read More</a></p>
      </div>
    </div>
    <div class="item">
      <img src="http://pusaggh.org/images/yui.png" alt="...">
      <div class="carousel-caption">
       <h1>WHY MOST BUSINESS GET DISTRACTED IN THEIR INFANT STAGE </h1>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, eius, accusantium, sint quas expedita aliquam in iste non harum asperiores ratione minus maiores rem dolor magni vitae aut reprehenderit nesciunt.</p>
        <p><a href="#" class="btn btn-more btn-lg">Read More</a></p>
      </div>
    </div>
  </div>
</div>
<!--carouse ending here-->



<!--Main Content which includes sidebar (sidebar down there)-->
<div class="container">
  <div class="row">
  <div class="main-content">
    <!--content starts hers-->
  <div class="col-md-8 col-sm-8">
    <!--Big Boxes starts here-->
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="thumbnail">
                    <img src="http://placehold.it/700x500" alt="">
                    <div class="caption">
                        <h3>The Future Of TV Is Apps, SAYS APPLE</h3>
                        <p class="catc"><small>Business | By KofiDesign</small></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit dolor sit ame.</p>
                    </div>
                </div>
      </div>
      <div class="col-md-6 col-sm-6 ">
        <div class="thumbnail">
                    <img src="http://placehold.it/700x500" alt="">
                    <div class="caption">
                        <h3>Google’s Lack Of Product Isolation Would Support </h3>
                       <p class="catc"><small>Start Ups | By Ernest</small></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing dolor sit ame elit.</p>
                    </div>
                </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="thumbnail">
                    <img src="http://placehold.it/700x500" alt="">
                    <div class="caption">
                        <h3>Facebook Test A Cragslist Killer</h3>
                        <p class="catc"><small>Tech | By Khali</small></p>
                        <p>Lorem ipsum dolor sit amet, consectetur dolor sit ame adipisicing elit.</p>
                    </div>
                </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="thumbnail">
                    <img src="http://placehold.it/700x500" alt="">
                    <div class="caption">
                        <h3>Google, Facebook, Yahoo And Verizon  </h3>
                        <p class="catc"><small>Bizz | By Aaron</small></p>
                        <p>Lorem ipsum dolor sit amet, dolor sit ame consectetur adipisicing elit.</p>
                    </div>
                </div>
      </div>
      <!--Boxes ends here-->

      <!--Small boxes starts here-->
    <div class="col-md-6 col-sm-12">
        <div class="thumbnail2">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="http://placehold.it/130x130" alt="">
          </a>
            </div>
            <div class="media-body konko">
              <h5 class="media-heading"><strong>Israel conducting slow motion genocide</strong></h5>
               <p class="catc"><small>Business | By Ernest</small></p>
                <p>Latest interview with Al Etejah TV about racist</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="thumbnail2">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="http://placehold.it/130x130" alt="">
          </a>
            </div>
            <div class="media-body konko">
              <h5 class="media-heading"><strong>Israel conducting slow motion genocide</strong></h5>
               <p class="catc"><small>Social | By KofiDesign</small></p>
                <p>Latest interview with Al Etejah TV about racist Israel’s  the ….</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="thumbnail2">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="http://placehold.it/130x130" alt="">
          </a>
            </div>
            <div class="media-body konko">
              <h5 class="media-heading"><strong>Israel conducting slow motion genocide</strong></h5>
               <p class="catc"><small>Device | By Aaron</small></p>
                <p>Latest interview with Al Etejah TV about racist Israel’s  the ….</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="thumbnail2">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="http://placehold.it/130x130" alt="">
          </a>
            </div>
            <div class="media-body konko">
              <h5 class="media-heading"><strong>Israel conducting slow motion genocide</strong></h5>
               <p class="catc"><small>Tech | By Ernest</small></p>
                <p>Latest interview with Al Etejah TV about racist Israel’s  the ….</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="thumbnail2">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="http://placehold.it/130x130" alt="">
          </a>
            </div>
            <div class="media-body konko">
              <h5 class="media-heading"><strong>Israel conducting slow motion genocide</strong></h5>
               <p class="catc"><small>Business | By Aaron</small></p>
                <p>Latest interview with Al Etejah TV about racist Israel’s  the ….</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="thumbnail2">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="http://placehold.it/130x130" alt="">
          </a>
            </div>
            <div class="media-body konko">
              <h5 class="media-heading"><strong>Israel conducting slow motion genocide</strong></h5>
               <p class="catc"><small>Start Up | By KofiDesign</small></p>
                <p>Latest interview with Al Etejah TV about racist Israel’s  the ….</p>
            </div>
          </div>
        </div>
      </div>

      <!--Small boxes ends here-->

      <!--horizontal boxes strats here-->
      <div class="col-md-12 col-sm-12">
        <div class="thumbnail2">
      <div class="media">
        <div class="media-left hidden-xs hidden-sm">
          <a href="#">
            <img class="media-object" src="http://placehold.it/250x280" alt="">
          </a>
            </div>
            <div class="media-body konko2">
              <h3 class="media-heading">How To Build Your Community As The User In Chief</h3>
               <p class="catc"><small>Business | By Aaron</small></p>
               <p>It’s rare to meet someone who can answer any question with a brilliant one-liner. Andrew Bermudez is one of those people. Andrew Bermudez is one of the three co-founders of Digsy: an “Intelligent Assistant” that helps automate the search for
                   the perfect office and warehouse space for your business. Andre.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12">
        <div class="thumbnail2">
      <div class="media">
         <div class="media-left hidden-xs hidden-sm">
          <a href="#">
            <img class="media-object" src="http://placehold.it/250x280" alt="">
          </a>
            </div>
            <div class="media-body konko2">
              <h3 class="media-heading">The Future Of TV Is Applications, SAYS APPLE</h3>
                <p class="catc"><small>Social | By Ernest</small></p>
               <p>Genius was not my idea - it was entirely Tom Lehman’s brainchild: he came up with it, and he built it. Similarly, Everipedia is not my idea at all - Sam, Tedde and Travis took a year building that shit before I ever even saw it. In both cases,
               I got involved with an existing, working thing - even though I wasn’t responsible for building it<p>
            </div>
          </div>
        </div>
      </div>
      <!--horizontal boxes strats here-->

    </div>
  </div>
  </div>
  <!--content Ends here hers-->

  <!--Side bar area here-->
  <div class="col-md-4 col-sm-4 sidebar">
  <div class="sidebar">
   <h3 class="page-header">This Week Magazine</h3>
    <a href="#">
          <img class="img-responsive" src="http://pusaggh.org/images/mag1.jpg" alt="...">
    </a>


      <div class="col-md-12 col-sm-12">
      <h3 class="page-header pad-top">Top Bizz</h3>
      <div class="medias">
        <div class="media-left hidden-sm">
          <a href="#">
            <img class="media-object" src="http://placehold.it/130x130" alt="">
          </a>
            </div>
            <div class="media-body konko3">
              <h5 class="media-heading"><strong>Israel conducting slow motion genocide</strong></h5>
               <p class="catc"><small>Social | By KofiDesign</small></p>
                <p>Latest interview with Al Etejah TV about racist</p>
            </div>
          </div>
      </div>

      <div class="col-md-12 col-sm-12">
      <div class="medias">
        <div class="media-left hidden-sm">
          <a href="#">
            <img class="media-object" src="http://placehold.it/130x130" alt="">
          </a>
            </div>
            <div class="media-body konko3">
              <h5 class="media-heading"><strong>Israel conducting slow motion genocide</strong></h5>
               <p class="catc"><small>Social | By KofiDesign</small></p>
                <p>Latest interview with Al Etejah TV about racist</p>
            </div>
          </div>
      </div>

       <div class="col-md-12 col-sm-12">
      <div class="medias">
        <div class="media-left hidden-sm">
          <a href="#">
            <img class="media-object" src="http://placehold.it/130x130" alt="">
          </a>
            </div>
            <div class="media-body konko3">
              <h5 class="media-heading"><strong>Israel conducting slow motion genocide</strong></h5>
               <p class="catc"><small>Social | By KofiDesign</small></p>
                <p>Latest interview with Al Etejah TV about racist</p>
            </div>
          </div>
      </div>

      <div class="col-sm-12">
      <div class="medias">
        <div class="media-left hidden-sm">
          <a href="#">
            <img class="media-object" src="http://placehold.it/130x130" alt="">
          </a>
            </div>
            <div class="media-body konko3">
              <h5 class="media-heading"><strong>Israel conducting slow motion genocide</strong></h5>
               <p class="catc"><small>Social | By KofiDesign</small></p>
                <p>Latest interview with Al Etejah TV about racist</p>
            </div>
          </div>
      </div>


      <div class="col-sm-12">
        <h3 class=" pad-top"> <a href="#" class="btn btn-more"><i class="fa fa-bolt"></i> Trending Tech</a></h3>
         <ul class="list-unstyled">
                    <li><a href="#"> <h5><strong>Israel conducting slow motion genocide</strong></h5></a></li>
                    <li><a href="#"> <h5><strong>Facebook Test A Cragslist Killer</strong></h5></a></li>
                    <li><a href="#"> <h5><strong>Google, Facebook, Yahoo And Verizon</strong></h5></a></li>
                    <li><a href="#"> <h5><strong>The Future Of TV Is Apps, SAYS APPLE</strong></h5></a></li>
                    <li><a href="#"> <h5><strong>Israel conducting slow motion genocide</strong></h5></a></li>


          </ul>
          <hr>
      </div>

    <!--facebook plug area-->
      <div class="col-sm-12 pad-top hidden-sm">
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div></div>
      </div>
    <!--facebook plug area-->

    <div class="col-sm-12 pad-top pad-down">
        <a href="#">
          <img class="img-responsive" src="http://pusaggh.org/images/mag1.jpg" alt="...">
          </a>
      </div>



  </div>
  </div>
  <!--Side bar area ending  here-->

<!--Main Content which includes sidebar  (sidebar down there) Ends here-->

<!--Added it because of the facebook page on the site-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=175969142740879";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--Added it because of the facebook page on the site-->
