<!--TOP summry with image and background image-->
<div class="writer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 ">
                <img src="http://placehold.it/200x200" alt="..." class="img-circle">
            </div>
            <div class="col-lg-8">
               <h2>Charles Owusu Osei</h2>
               
                <div>
                <h4>Ghana</h4>    
                </div>
               
               <div>
                   http://bizzafrica.com
                </div>
               
               <div>
                <ul class="list-unstyled">
                    <ul class="list-unstyled list-inline pull-left">
                        <li class="fa fa-facebook-official fa-2x"></li>
                        <li class="fa fa-twitter-square fa-2x"></li>
                        <li class="fa fa-instagram fa-2x"></li>
                  </ul>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>
<!--TOP summry with image and background image ends here-->

<!--About me here. includes the top 5 posts-->
<div class="container">
    <div class="row pad-top">
        
        <div class="col-md-12 col-md-offset-0">
            <h1>About Me</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, nisi, saepe, mollitia, illo ipsa magni beatae debitis minima similique
                corporis consequatur at perspiciatis perferendis maiores excepturi nesciunt porro fugiat sunt!
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, nisi, saepe, mollitia, illo ipsa magni beatae debitis minima similique
                corporis consequatur at perspiciatis perferendis maiores excepturi nesciunt porro fugiat sunt!
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, nisi, saepe, mollitia, illo ipsa magni beatae debitis minima similique
                corporis consequatur at perspiciatis perferendis maiores excepturi nesciunt porro fugiat sunt!
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, nisi, saepe, mollitia, i
            </p>
        </div>
        
        <!--top 5 posts here-->
        
       
        <div class="col-md-12">
            <h3 class="page-header">
                Current Posts <button type="button" class="btn btn-danger pull-right">View all</button>
            </h3>
        </div>
    
        
        <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
                    <img src="http://placehold.it/700x500" alt="">
                    <div class="caption">
                        <h3>Facebook Test A Cragslist Killer</h3>
                        <p class="catc"><small>Tech | By KofiDesign</small></p>
                        <p>Lorem ipsum dolor sit amet, consectetur dolor sit ame adipisicing elit.</p>
                    </div>
                </div>
      </div>
      
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
                    <img src="http://placehold.it/700x500" alt="">
                    <div class="caption">
                        <h3>Facebook Test A Cragslist Killer</h3>
                        <p class="catc"><small>Tech | By KofiDesign</small></p>
                        <p>Lorem ipsum dolor sit amet, consectetur dolor sit ame adipisicing elit.</p>
                    </div>
                </div>
      </div>
      
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
                    <img src="http://placehold.it/700x500" alt="">
                    <div class="caption">
                        <h3>Facebook Test A Cragslist Killer</h3>
                        <p class="catc"><small>Tech | By KofiDesign</small></p>
                        <p>Lorem ipsum dolor sit amet, consectetur dolor sit ame adipisicing elit.</p>
                    </div>
                </div>
      </div>
      
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
                    <img src="http://placehold.it/700x500" alt="">
                    <div class="caption">
                        <h3>Facebook Test A Cragslist Killer</h3>
                        <p class="catc"><small>Tech | By KofiDesign</small></p>
                        <p>Lorem ipsum dolor sit amet, consectetur dolor sit ame adipisicing elit.</p>
                    </div>
                </div>
      </div>
        
        
       
       
        <!--top 5 posts here-->
        
    </div>
</div>
<!--About me ends here. includes the top 5 posts-->
