<div class="post_show">
    <!--Single Show page-->
    <div class="container" >
      <div class="row">
        <div class="col-md-8">
          <h2><%= @post.title %></h2>
          <p class="catc"><small>Start Up | By KofiDesign</small></p>
          <div class="show_post">
            <%= image_tag(@post.picture.url, class: "img-responsive") if @post.picture? %>
          </div>
          <p class="blog-post pad-top "><%= @post.description %></p>

         <!--comment box here-->

<div class="form-comment pad-top">
  <h3>Leave Your Comment</h3>
  <form role="form">
    <div class="row">
      <div class="form-group col-md-4">
        <input class="form-control input-lg" placeholder="Name..">
      </div>
      <div class="form-group col-md-4">
        <input class="form-control input-lg" placeholder="Email..">
      </div>
      <div class="form-group col-md-4">
        <input class="form-control input-lg" placeholder="Url..">
      </div>
      <div class="form-group col-md-12">
        <textarea class="form-control" rows="8" placeholder="Messages.."></textarea>
      </div>
      <div class="form-group col-md-4">
        <button class="btn btn-lg btn-more btn-block">Comment</button>
      </div>
    </div>
  </form>
</div>

<div class="media">
<a class="pull-left" href="#">
    <img class="media-object" src="http://placehold.it/64x64" alt="">
</a>
<div class="media-body konko3">
  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
</div>
</div>

<div class="media">
<a class="pull-left" href="#">
  <img class="media-object" src="http://placehold.it/64x64" alt="">
</a>
  <div class="media-body konko3">
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
</div>


         <!--comment box here-->
</div>



    <!--Side bar area here-->
  <div class="col-md-4 col-sm-4 sidebar">
  <div class="sidebar">
   <h3 class="page-header">This Week Magazine</h3>
    <a href="#">
          <img class="img-responsive" src="http://pusaggh.org/images/mag1.jpg" alt="...">
    </a>


      <div class="col-md-12 col-sm-12">
      <h3 class="page-header pad-top">Top Bizz</h3>
      <div class="medias">
        <div class="media-left hidden-sm">
          <a href="#">
            <img class="media-object" src="http://placehold.it/130x130" alt="">
          </a>
            </div>
            <div class="media-body konko3">
              <h5 class="media-heading"><strong>Israel conducting slow motion genocide</strong></h5>
               <p class="catc"><small>Social | By KofiDesign</small></p>
                <p>Latest interview with Al Etejah TV about racist</p>
            </div>
          </div>
      </div>

      <div class="col-md-12 col-sm-12">
      <div class="medias">
        <div class="media-left hidden-sm">
          <a href="#">
            <img class="media-object" src="http://placehold.it/130x130" alt="">
          </a>
            </div>
            <div class="media-body konko3">
              <h5 class="media-heading"><strong>Israel conducting slow motion genocide</strong></h5>
               <p class="catc"><small>Social | By KofiDesign</small></p>
                <p>Latest interview with Al Etejah TV about racist</p>
            </div>
          </div>
      </div>

       <div class="col-md-12 col-sm-12">
      <div class="medias">
        <div class="media-left hidden-sm">
          <a href="#">
            <img class="media-object" src="http://placehold.it/130x130" alt="">
          </a>
            </div>
            <div class="media-body konko3">
              <h5 class="media-heading"><strong>Israel conducting slow motion genocide</strong></h5>
               <p class="catc"><small>Social | By KofiDesign</small></p>
                <p>Latest interview with Al Etejah TV about racist</p>
            </div>
          </div>
      </div>

      <div class="col-sm-12">
      <div class="medias">
        <div class="media-left hidden-sm">
          <a href="#">
            <img class="media-object" src="http://placehold.it/130x130" alt="">
          </a>
            </div>
            <div class="media-body konko3">
              <h5 class="media-heading"><strong>Israel conducting slow motion genocide</strong></h5>
               <p class="catc"><small>Social | By KofiDesign</small></p>
                <p>Latest interview with Al Etejah TV about racist</p>
            </div>
          </div>
      </div>


      <div class="col-sm-12">
        <h3 class=" pad-top"> <a href="#" class="btn btn-more"><i class="fa fa-bolt"></i> Trending Tech</a></h3>
         <ul class="list-unstyled">
                    <li><a href="#"> <h5><strong>Israel conducting slow motion genocide</strong></h5></a></li>
                    <li><a href="#"> <h5><strong>Facebook Test A Cragslist Killer</strong></h5></a></li>
                    <li><a href="#"> <h5><strong>Google, Facebook, Yahoo And Verizon</strong></h5></a></li>
                    <li><a href="#"> <h5><strong>The Future Of TV Is Apps, SAYS APPLE</strong></h5></a></li>
                    <li><a href="#"> <h5><strong>Israel conducting slow motion genocide</strong></h5></a></li>


          </ul>
          <hr>
      </div>

    <!--facebook plug area-->
      <div class="col-sm-12 pad-top hidden-sm">
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div></div>
      </div>
    <!--facebook plug area-->

    <div class="col-sm-12 pad-top pad-down">
        <a href="#">
          <img class="img-responsive" src="http://pusaggh.org/images/mag1.jpg" alt="...">
          </a>
      </div>



  </div>
  </div>
  <!--Side bar area ending  here-->

      </div>
    </div>

    <!--Single Show page -->
</div>



