@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";



.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
}

.ati {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.12);
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0.1px;
    border: 1px solid transparent;
}

.navbar-brand1 {
    float: left;
    /* padding: 15px 15px; */
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.thumbnail {
    display: block;
    padding: 0px;
    margin-bottom: 30px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 1px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
   
}

.thumbnail2 {
    background-color: #fff;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 1px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #F0F0ED;
}

.pad-top{
    padding-top:1.5em;
}

.pad-down {
    padding-bottom: 2.5em;
}

   

.konko{
    padding-top:1em;
    padding-left:.5em;
    padding-right:1em;
}

.konko2 {
    padding-top: 4em;
    padding-left: 1.5em;
    padding-right: 2em;
}

.konko3 {
  
    padding-left: 1.5em;
}

.media-left, .media > .pull-left {
    padding-right: 1px;
}

.medias {
    margin-top: 14px;
}

.foot{
    background-color: #222;
    color: #777777;    
    margin-top: 5em;
    padding-top: 4em;
    padding-bottom: 2em;
}

.sub-footer{
    background-color: #090909;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

a {
    
    text-decoration: none;
    color: #777777;
}

a:hover, a:focus {
    color: rgb(193, 64, 64);
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        background-color: rgba(193, 64, 64, 0);
    color: rgb(193, 64, 64);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #8E1919;
    background-color: rgba(231, 231, 231, 0);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: rgba(160, 21, 21, 0);
    color: #a94442;
}

.dropdown-menu > li > a {
    display: block;
    padding: 9px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: right;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.main-content{
    margin-top:4em;
}
    


.carousel-caption {
    padding-right:30em;
    padding-bottom: 150px;
    left: 9%;
    right: 20%;
    text-align:left;
    text-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);
}

.btn-more {
    color: #fff;
    background-color: #c14040
   
}

.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 1px;
}

.btn {
    border-radius: 1px;
    
}
.sli {
    margin-top:4em;
}


.navbar-default .navbar-toggle {
    border-color: #C14040;
     position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: rgb(193, 64, 64);
    background-image: none;
    border: 1px solid transparent;
    border-radius:     1px;
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

.catc {
    color: #a94442;
}

.sidebar {
    background-color:white;
}

.page-header {
    padding-bottom: 9px;
    margin: 20px 0 20px;
    border-bottom: 1px solid #a94442;
}