@import "bootstrap-sprockets";
@import "bootstrap";


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0.1px;
    border: 1px solid transparent;
}

.navbar-brand1 {
    float: left;
    /* padding: 15px 15px; */
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

