  <!--Main Footer here-->
  <div class="footer">
    <div class="container">
      <div class"row">

      </div>
    </div>
  </div>
</div>
</div>

<!--main footer-->
<div class="foot">
  <!-- Origional snipet by msurguy<http://bootsnipp.com/msurguy>, I editted his snipet so that it works with bootstrap 3.3 -->
<div class="container">
    <div class="row">
            <div class="col-xs-12 col-md-4">
                <ul class="list-unstyled">
                   <li><h3>BizzAfrica</h3><li>
                    <li> <p>Genius was not my idea - it was entirely Tom Lehman’s brainchild: he came up with it, and he built it. Similarly, Everipedia is not my idea at all - Sam,
                    Tedde and Travis took a year building that shit before I ever even saw it. In both cases, I got involved with an existing</p> </li>

                </ul>
            </div>

            <div class="col-md-8">
            <div class="row">
            <div class="col-xs-4 col-md-4">
                <ul class="list-unstyled">
                    <li><h3>Categories</h3><li>
                    <li><a href="#">Bizz of the week</a></li>
                    <li><a href="#">Top Bizz</a></li>
                    <li><a href="#">Discussions</a></li>
                    <li><a href="#">Links</a></li>
                </ul>
            </div>
            <div class="col-xs-4 col-md-4">
                <ul class="list-unstyled">
                    <li><h3>Content</h3><li>
                    <li><a href="#">Technology</a></li>
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Start Ups</a></li>
                    <li><a href="#">Hackaton</a></li>
                    <li><a href="#">Events</a></li>
                </ul>
            </div>
            <div class="col-xs-4 col-md-4">
                <ul class="list-unstyled">
                    <li><h3>About Us</h3><li>
                    <li>BizzAfrica </li>
                    <li>1234 Osu</li>
                    <li>Accra, Ghana</li>
                    <ul class="list-unstyled list-inline pull-left">
                    <li class="fa fa-facebook-official fa-2x"><a href="#"></li>
                   <li class="fa fa-twitter-square fa-2x"><a href="#"></li>
                    <li class="fa fa-instagram fa-2x"><a href="#"></li>

                  </ul>



                </ul>
            </div>
          </div>
        </div>
    </div>
</div>
</div>
<!--main footer ends here-->

<!--sub footer-->
<div class="sub-footer">
  <div class="container">
    <div class="row">
            <div class="col-xs-8">
                <ul class="list-unstyled list-inline pull-left">
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Team</a></li>
                </ul>
            </div>
            <div class="col-xs-4">
                <p class="text-muted pull-right">&copy; <%= Time.now.year %> BizzAfrica. All rights reserved</p>
            </div>
        </div>
  </div>
</div>
<!--sub footer ends here-->
